@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <spid-button callBackURL="https%3A%2F%2Flocalhost%3A7150%2Fauthstatus"></spid-button>


</div>

    <div>@ViewData["Resp"]</div>